html, body {
    margin: 0;
    padding: 0;
  }
  
  .container {
    display: flex;
    width: 1400px;
    height: 750px;
    margin: 50px auto;
    background: url('../image/table-2.jpg') repeat scroll 0 0;
    border: 20px solid transparent;
    border-image-source: url('../image/border.png');
    border-image-slice: 20;
    border-image-width: 20px;
    border-image-outset: 0;
    border-image-repeat: repeat;
    border-radius: 10px;
  
    .side-wrapper {
      width: 240px;
      background-image: url('../image/side/side-bg.jpg');
      background-position: 0 0;
      background-size: 100% 100%;
  
      .name {
        width: 207px;
        height: 154px;
        margin: 100px auto;
        background-image: url('../image/side/name.png');
        background-position: 0 0;
        background-size: 100% 100%;
      }
  
      .level-group {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        width: 207px;
        height: 150px;
        margin: 50px auto;
  
        .btn {
          width: 150px;
          height: 40px;
          margin: 0;
          padding: 0;
          background-position: 0 0;
          background-size: 150px 40px;
          background-color: transparent;
          border: none;
          outline: none;
          cursor: pointer;
  
          &.btn-primary {
            background-image: url('../image/side/btn_primary.png');
          }
  
          &.btn-middle {
            background-image: url('../image/side/btn_middle.png');
          }
  
          &.btn-high {
            background-image: url('../image/side/btn_high.png');
          }
        }
      }
    }
  
    .game-wrapper {
      flex: 1;
    }
  
  }